<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><a href = "/users/<%= @word.user_id %>"><%= @word.user.username %></a></div>
      <div class="panel-body">
        <p><%= @word.author %></p>
        <center><a href = "/words/<%= @word.id %>"><%= @word.word %></a></center>
        <!-- <p> <button class="btn btn-link"><i class="fa fa-heart-o"></i></button></p> -->

      </div>
    </div>
  </div>
</div>

<div class="btn-group btn-group-justified">
  <a href="/words" class="btn btn-primary">
    Back
  </a>
  <% if @word.user_id == current_user.id %>
  <a href="/words/<%= @word.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/delete_word/<%= @word.id %>" class="btn btn-danger" rel="nofollow">
    Delete
  </a>
  <% end %>
</div>
</div>
</div>
